[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
    #url = git@github.com/jreisinger/hugo-coder.git
    url = git@github.com:luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = git@github.com:jreisinger/jreisinger.github.io.git
	branch = master
[submodule "themes/temple"]
	path = themes/temple
	url = https://github.com/aos/temple.git
